#container {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #F2F4F7 100%, #F2F4F7 100%);
}

#container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: radial-gradient(circle, rgba(37, 37, 200, 1) 0%, rgba(9, 9, 121, 1) 100%);
}

#content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
          '. logo .'
          '. main_card .'
          '. footer .';
  height: 100vh;

  img {
    width: 8rem;
    position: relative;
  }
}

#logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_card {
  grid-area: main_card;
}

#footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  & span {
    font-size: 3rem;

    &.icon {
      line-height: 5rem;
    }
  }

  & > mat-card {
    min-height: 75%;
    width: 20%;
    text-align: center;

    & > mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  & .score {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  & .loader {
    grid-area: footer;
  }

  & mat-spinner {
    width: 3.5rem !important;
  }
}
